<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to GdgKisumu!</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <nav class="white" role="navigation">
          <a id="logo-container" href="/" class="brand-logo">
            <img alt="" src="https://developers.google.com/_static/2ceb35fd6c/images/GDG-program-logo.png"/>
          </a>
        <div class="nav-wrapper container">
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Join Us</a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>


      <!-- <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p> -->
      <!-- <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p> -->

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
        <%= render "footer.html" %>
      </main>



    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
